


// .counter-container {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding: 10px;
//   background-color: #232323;
//   border: 2px solid #777;
//   border-radius: 5px;
//   color: #000000;
//   font-size: 20px;
//   box-shadow: 0px 3px 6px #00000029;
//   width: 300px;
// }





// .counter-button {
//     border: 2px solid black;
//     color: black;
//     font-size: 24px;
//     font-weight: bold;
//     width: 40px;
//     height: 40px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border-radius: 50%;
//     transition: all 0.2s ease;
    
//     &:hover {
//       transform: scale(1.1);
//     }
//   }
  
//   .plus {
//     background-color: #1ad306;
//   }
  
//   .minus {
//     background-color: #069089;
//   }


//   .agregarAlCarrito {

//     background-color: #1e1e1e;
//     border: 2px solid #52a2ff;
//     color: white;
//     font-size: 1.2rem;
//     font-weight: bold;
//     padding: 8px 16px;
//     border-radius: 4px;
//     transition: all 0.2s ease;
//     cursor: pointer;
//     text-transform: uppercase;
//     letter-spacing: 1px;
    
//     &:hover {
//       background-color: #fff;
//       color: #080808;
//       box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
//     }
//     &:active {
//       transform: translateY(2px);
//     }
//   }



//   .contadorDeStock {
//     font-family: 'Exo 2', sans-serif;
//     font-size: 32px;
//     color:white;
//     margin: 0 16px;
//     background-color: #1e1e1e;
//   }
  


.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 2px solid #3e423d;
  margin-bottom: 20px;
  width: 150px;
  height: 50px;

  .counter-button {
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
    padding: 0 10px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 50%;
    }
  }

  .plus {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  .minus {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .contadorDeStock {
    margin: 0 10px;
    color: #000000;
    font-size: 20px;
  }
}

.agregarAlCarrito {
  border-radius: 30px;
  border: none;
  background-color: #019b98;
  padding: 10px 20px;
  color: #000;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #000;
    color: #00d3b0;
  }
}
