.add-to-cart-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #a70303;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }